body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 15px;
}

h2, h3 {
  text-align: center;
}

.filter {
  text-align: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

th {
  background: #007bff;
  color: white;
}

button {
  padding: 10px;
  width: 100%;
  background: green;
  color: white;
  border: none;
  font-size: 16px;
}
